{% extends "basetemp/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<style>
.bannerdiv {
	margin-top: 70px;
}
.loginform {
	width: 500px;
	padding-top: 60px;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 60px;
}
.bannerdiv1 {
	margin-top: 127px;
}
.loginbtn, .loginbtn:hover {
	/* background-color: #0d47a1; */
	color: white;
}
</style>
		<!-- </div> -->
		<center>

			{% if form.errors %}
				<div class="alert alert-danger" role="alert">
					<strong>Incorrect username or password!</strong>
				</div>
			{% endif %}
		<form method="POST" class = "loginform mt-4">
				<a href="/">
				<img src="{% static 'basetemp/dotricon.png' %}" width="180" height="180" >
				</a>	
				<p style = "font-family:helvetica; color: #4F4F4F"><b>Department of Transportation</b></p>
				<br>
				<p style = "font-family:helvetica; color: #4F4F4F"><b>Active Transport Dashboard DB</b></p>

			            {% csrf_token %}
			            <fieldset class="form-group">
			          	{{ form.username }}
			          	<br>
			          	{{ form.password }}
			            </fieldset>
			            <div class = "form-group">
			            	<button class ="btn btn-primary form-control loginbtn" type = "submit">Login</button>
			            </div>
			           
		</form>

			      </center>
			
{% endblock content %}
